<span>

<ul class="list-inline push-top">
  <li>
      <div (click)="shareGroupOnFacebook()">Lol fb test</div>
  </li>
  <li>
    <a href="http://www.facebook.com/sharer.php?u={{getURL()}}" target="_blank">
      <svg class="icon icon-2" viewBox="0 0 256 256">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>

  <li>
    <a href='http://twitter.com/share?text=Check%20Out%20this%20awesome%20group%20I%20joined. &url={{getURL()}}'
       target="_blank" data-size="large">
      <svg class="icon icon-2" viewBox="0 0 256 256">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#twitter"></use>
      </svg>
    </a>
  </li>
  <li>

    <a ngxClipboard (click)="copyURL(getURL())" [cbContent]="getURL()">
      <svg class="icon icon-2" viewBox="0 0 256 256">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#link"></use>
      </svg>
    </a>
  </li>
</ul>

</span>
