// Used on view list and pin details header
.media {
  &.site {
    cursor: initial;
  }
}

.connect-container {
  background: $cr-white;
  min-height: 381px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @for $idx from 5 to 30 {
    $height: $idx * 100;
    @media screen and ( min-height: #{$height}px ){
      min-height: #{$height - 19}px;
    }
  }

  @media (min-width: $screen-sm) {
    box-shadow: 0 0 10px 0 $cr-gray-light;
    margin: 0 auto;
    padding: 1rem 2rem;
    width: $container-tablet;
  }

  &.dark-theme {
    background: $cr-black;
  }
}

.connect-list-footer {
  margin-right: -1rem;
  margin-left: -1rem;

  @media (min-width: $screen-sm) {
    margin-right: -2rem;
    margin-left: -2rem;
    width: $container-tablet;
  }

  > div {
    margin-top: 1rem;
    padding: 1.5rem 1rem 2rem;

    @media (min-width: $screen-sm) {
      padding-right: 3rem;
      padding-left: 3rem;
    }
  }
}

.pin-details-greeting {
  color: $cr-gray;
  font-family: $base-font-face;
  font-size: $font-size-base;
  font-weight: 600;
}