// Used on view list and pin details header
.media {
  &.site {
    cursor: initial;
  }
}

.pin-details-greeting {
  color: $cr-gray;
  font-family: $base-font-face;
  font-size: $font-size-base;
  font-weight: 600;
}