app-filters {
  display: block;
  padding-bottom: 1rem;

  h2 {
    margin: 0;
  }
}

.finder-search {
  ::-ms-clear {
    display: none;
  }


  // Connect search
  .searchbar-connect {

  }

  // Groups search
  .searchbar-groups {
    .mobile-push-half-ends {
      @media screen and (min-width: $screen-sm) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      @media screen and (min-width: $screen-sm) {
        flex-direction: row;
        flex: 1 1 0;
      }

      // Desktop filter btn
      > .filter-btn {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: inline-block;
        }
      }
    }

    .keyword-input {
      display: flex;
      align-items: center;

      // Mobile filter btn
      > .filter-btn {
        @media screen and (min-width: $screen-sm) {
          display: none;
        }
      }
    }

    .keyword-input,
    .location-input {
      flex: 1 1 auto;

      @media screen and (min-width: $screen-sm) {
        flex: 1 1 0;
      }
    }

    .location-input {
      display: block;

      &.closed {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: block;
        }
      }
    }

    .input-separator {
      background-color: $cr-gray-light;
      height: 1.75rem;
      position: relative;
      width: 1px;
      visibility: hidden;

      @media screen and (min-width: $screen-sm) {
        visibility: visible;
      }
    }

    .searchbar-wrapper {
      width: 100%;

      @media screen and (min-width: $screen-sm) {
        width: calc(100% - 55px);
      }
    }

    .map-list-btn {
      display: inline-block;
    }

    .search-btn {
      display: none;

      @media screen and (min-width: $screen-sm) {
        display: inline-block;

        .btn {
          height: 42px;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

    // Expanded searchbar
    &.searchbar-expanded {
      display: block;

      @media screen and (min-width: $screen-sm) {
        display: flex;
      }

      .map-list-btn {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: block;
        }
      }
    }

    // Button styles
    .addon-btn {
      button {
        margin: .75rem .75rem 0 0;

        &.active {
          color: $cr-teal;
        }
      }
    }

    .mobile-btn-group {
      button.active {
        color: $cr-cyan;
      }

      @media screen and (min-width: $screen-sm) {
        display: none;
      }
    }
  }
}