app-filters {
  display: block;
  padding-bottom: 1rem;

  h2 {
    margin: 0;
  }
}

.finder-search {
  ::-ms-clear {
    display: none;
  }

  // Connect search
  .searchbar-connect {
    .keyword-input {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
    }

    .location-input {
      display: none;
    }

    .searchbar-wrapper {
      width: calc(100% - 64px);
    }


    .search-btn {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 68px;

      .btn {
        height: 42px;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
      }
    }

    .input-group {
      justify-content: space-between;
      position: relative;
    }
  }

  // Groups search
  .searchbar-groups {
    .mobile-push-half-ends {
      @media screen and (min-width: $screen-sm) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .input-group {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;
      justify-content: space-between;
      position: relative;

      @media screen and (min-width: $screen-sm) {
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0%;
      }

      // Desktop filter btn
      > .filter-btn {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: inline-block;
          min-width: 1px;
        }
      }
    }

    .keyword-input {
      display: flex;
      align-items: center;

      // Mobile filter btn
      > .filter-btn {
        @media screen and (min-width: $screen-sm) {
          display: none;
        }

        .open {
          display: none;
        }
      }
    }

    .keyword-input,
    .location-input {
      min-width: 1px;
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: auto;

      @media screen and (min-width: $screen-sm) {
        flex-basis: 0%;
      }
    }

    .location-input {
      display: block;

      &.closed {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: block;
        }
      }
    }

    .input-separator {
      background-color: $cr-gray-light;
      height: 1.75rem;
      position: relative;
      width: 1px;
      visibility: hidden;

      @media screen and (min-width: $screen-sm) {
        visibility: visible;
      }
    }

    .searchbar-wrapper {
      width: 100%;

      @media screen and (min-width: $screen-sm) {
        width: calc(100% - 64px);
      }
    }

    .map-list-btn {
      display: inline-block;
    }

    .search-btn {
      display: none;
      width: 68px;

      @media screen and (min-width: $screen-sm) {
        display: inline-block;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;

        .btn {
          height: 42px;
          line-height: 1;
          margin-top: 0;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }

    // Expanded searchbar
    &.searchbar-expanded {
      display: block;

      @media screen and (min-width: $screen-sm) {
        display: flex;
      }

      .map-list-btn {
        display: none;

        @media screen and (min-width: $screen-sm) {
          display: block;
        }
      }

      // Mobile filter btn
      .keyword-input {
        .filter-btn {
          display: none;
        }
      }
    }

    // Button styles
    .addon-btn {
      button {
        margin: .75rem .75rem 0 0;

        &.active {
          color: $cr-teal;
        }
      }
    }

    .mobile-btn-group {
      button.active {
        color: $cr-cyan;
      }

      @media screen and (min-width: $screen-sm) {
        display: none;
      }
    }
  }
}