<div class="container">
  <h2>{{ pinsToShowCountings() }}</h2>

  <list-entry *ngFor="let pin of pinsToShow()"
              [firstName]="pin.firstName"
              [lastName]="pin.lastName"
              [siteName]="pin.siteName"
              [type]="pin.pinType"
              [proximity]="pin.proximity"
              [description]="pin.gathering ? pin.gathering.groupDescription : ''"
              [groupId]="pin.gathering ? pin.gathering.groupId : 0"
              [participantId]="pin.participantId"
              [address]="pin.address"
              [participantCount]="pin.gathering ? pin.gathering.participantCount : 0">
  </list-entry>

  <button *ngIf="pinsToShow().length !== searchResults?.pinSearchResults.length"
          type="submit"
          class="btn btn-secondary btn-block"
          (click)="showMore()">Load more</button>

  <list-footer [pins]="searchResults?.pinSearchResults"></list-footer>
</div>
