<div *ngIf="ready">
  <div class="pin-details-bg"
       [ngClass]="{ host_plain: !isInGathering && !isLeader && pin.pinType !== pinType.SMALL_GROUP}">

    <!--TODO: All this small group stuff should be a sub component.  all these ngIf's are going to get very hard to debug.-->
    <div class="soft">
      <div class="media">
        <profile-picture imageClass="media-object img-size-6" wrapperClass="media-img-wrapper" [contactId]="pin.contactId"></profile-picture>

        <div class="media-body">
          <pin-header [pin]="pin" [isPinOwner]="isPinOwner" [isLeader]="isLeader"></pin-header>
          <div class="media-meta">
            <readonly-address *ngIf="pin.pinType !== pinType.SMALL_GROUP" [isGathering]="pin.pinType === pinType.GATHERING" [isLeader]="isLeader" [isInGathering]="isInGathering" [address]="pin.gathering.address" [distance]="pin.proximity"></readonly-address>
            <span *ngIf="pin.pinType === pinType.SMALL_GROUP && pin?.gathering?.meetingDay != null">
              <span>{{pin?.gathering?.meetingDay}} at {{ getMeetingTime(pin.gathering.meetingTime) | date:'shortTime' }}, {{pin?.gathering?.meetingFrequency}} ({{ getProximityString() }})</span>
            </span>
            <span *ngIf="pin.pinType === pinType.SMALL_GROUP && pin?.gathering?.meetingDay == null">
              <span>Flexible Meeting Time ({{ getProximityString() }})</span>
            </span>
          </div>
        </div>
      </div>

      <p class="gathering-description border-top push-half-top">
        {{descriptionToDisplay}}

        <!-- EDIT GROUP BUTTON -->
        <br>
        <input *ngIf = "isLeader"
               type="button"
               class="btn btn-primary"
               value="Edit Group"
               (click)="onEditGroupClicked(pin.gathering.groupId)">

        <a *ngIf="!doDisplayFullDesc" (click)="expandGroupDescription()" class="pointer">More</a>

        <span>
          <ul class="list-inline push-top">
            <li>
              <a href="#">
                <svg class="icon icon-2" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="#">
                <svg class="icon icon-2" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>

            <li>
              <a href="#">
                <svg class="icon icon-2" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#link"></use>
                </svg>
              </a>
            </li>
          </ul>
        </span>
      </p>

      <!--below we are hiding the edit button for groups detail page because that story is not finished.-->
      <button class="btn btn-secondary" *ngIf="isLeader && app.isConnectApp()" (click)="edit()">Edit</button>

      <div *ngIf="pin.pinType !== pinType.SMALL_GROUP && !isInGathering">
        <button class="btn btn-secondary btn-block-mobile" (click)="requestToJoin()">Connect to gathering</button>
        <say-hi [isGathering]="true" [isLoggedIn]="isLoggedIn" [user]="user" [pin]="pin" [buttonText]="sayHiButtonText"></say-hi>
      </div>
    </div>
  </div>

  <div class="soft-quarter">
    <dl *ngIf="pin.pinType === pinType.SMALL_GROUP" class="group-meta-data flush-bottom">
      <dt>Category</dt>
      <dd *ngFor="let category of pin?.gathering?.categories">{{category.replace(":", ": ")}}</dd>

      <dt>Where</dt>
      <dd *ngIf="!isOnlineGroup()">
        <readonly-address [isGathering]="pin.pinType === pinType.GATHERING" [isPinOwner]="isPinOwner" [isInGathering]="isInGathering" [address]="pin.gathering.address" [distance]="pin.proximity"></readonly-address>
      </dd>
      <dd *ngIf="isOnlineGroup()">ONLINE GROUP</dd>

      <dt>Group Type</dt>
      <dd>{{pin?.gathering?.groupType}}</dd>

      <dt>Age Range</dt>
      <dd *ngFor="let age of pin?.gathering?.ageRanges">{{age}}</dd>

      <dt>Leader{{adjustedLeaderNames.length > 1 ? 's' : ''}}</dt>
      <dd *ngFor="let adjustedName of adjustedLeaderNames; let isLast = last">{{adjustedName}} {{isLast ? '' : ', '}}</dd>
      <dt>Kids Welcome</dt>
      <dd>{{displayKidsWelcome(pin.gathering.kidsWelcome)}}</dd>
    </dl>

    <div *ngIf="!isLeader && isInGroupApp" class="push-half-ends soft-ends">
      <button class="btn btn-primary btn-block-mobile">Try this group</button>
      <button class="btn btn-outline btn-primary btn-block-mobile"
              (click)="onContactLeaderClicked();">Contact leader</button>
    </div>

    <pin-login-actions *ngIf="!isLoggedIn && pin.pinType !== pinType.SMALL_GROUP" [isGathering]="pin.pinType === pinType.GATHERING"></pin-login-actions>
  </div>

  <gathering-requests *ngIf="isLeader && appSettingsService.isConnectApp()" [pin]="pin"></gathering-requests>

  <div *ngIf="isInGathering" class="soft-half-ends">
    <h3 class="component-header font-size-h5 text-uppercase flush-bottom">Participants</h3>
    <hr class="push-quarter-top flush-bottom">
    <div *ngFor="let participant of pin.gathering.Participants">
      <div class="border-bottom">
        <participant-card [participant]="participant" [pinParticipantId]="pin.participantId"></participant-card>
      </div>
    </div>
    <email-participants [participantEmails]="participantEmails"></email-participants>
  </div>

  <invite-someone *ngIf="isLeader && appSettingsService.isConnectApp()" [gatheringId]="pin.gathering.groupId" [participantId]="pin.participantId"></invite-someone>

  <add-someone *ngIf="isLeader && !appSettingsService.isConnectApp()" [gatheringId]="pin.gathering.groupId" [participantId]="pin.participantId"></add-someone>


  <leader-resources *ngIf="isLeader && !appSettingsService.isConnectApp()"></leader-resources>

   <!-- 👇 is not tied to any functionality. -->
  <!-- <div *ngIf="isLeader && !appSettingsService.isConnectApp()" class="soft-ends">


    <h3 class="component-header font-size-h5 text-uppercase flush-bottom">Guidance</h3>
    <hr class="push-quarter-top flush-bottom">

    <div class="push-half-top">
      <div class="media media-link border-bottom soft-half-bottom push-half-bottom">
        <profile-picture wrapperClass="media-img-wrapper left-align flush-top" imageClass="media-object img-size-4"></profile-picture>
        <div class="media-body">
          <h4 class="media-heading font-size-base">Phil B.
            <span class="media-label">
              <span class="label label-default">Coach</span>
            </span>
          </h4>

          <p class="text-muted font-size-small flush-bottom" href="#">name@email.com</p>
          <p class="font-family-accent font-size-smaller flush-ends">513-123-4567</p>
        </div>
      </div>

      <button class="btn btn-outline btn-primary" type="button">Leader resources</button>

      <button class="btn btn-outline btn-primary" type="button">Group resources</button>
    </div>

  </div> -->

</div>
