<div *ngIf="ready">
  <div class="media media-dark">
    <profile-picture imageClass="media-object img-size-6" wrapperClass="media-img-wrapper" [contactId]="pin.contactId"></profile-picture>

    <div class="media-body">
      <pin-header [isGathering]="true" [isPinOwner]="isPinOwner" [lastName]="pin.lastName" [firstName]="pin.firstName" [contactId]="pin.contactId"></pin-header>

      <div class="media-meta">
        <readonly-address [isGathering]="true" [isPinOwner]="isPinOwner" [isInGathering]="isInGathering" [address]="pin.address" [distance]="pin.proximity"></readonly-address>
      </div>
    </div>
  </div>

  <hr>
  <div>
  <p>{{pin.gathering.groupDescription}}</p>
  <button class="btn primary btn-primary" *ngIf="isPinOwner" (click)="edit()"> Edit </button>
  </div>
  <div *ngIf="!isInGathering && !isPinOwner">
    <button class="btn btn-secondary" (click)="requestToJoin()">Connect to gathering</button>
    <say-hi [isGathering]="true" [isLoggedIn]="isLoggedIn" [user]="user" [pin]="pin" [buttonText]="sayHiButtonText"></say-hi>
  </div>
  <pin-login-actions *ngIf="!isLoggedIn" [isGathering]="true"></pin-login-actions>
  <gathering-requests *ngIf="isPinOwner" [pin]="pin"></gathering-requests>
  <div *ngIf="isInGathering">
    <span class="h2">Participants</span>
    <hr/>
    <div *ngFor="let participant of pin.gathering.Participants">
      <div class="row">
        <participant-card [participant]="participant" [pinParticipantId]="pin.participantId"></participant-card>
      </div>
    </div>
  </div>
  <invite-someone *ngIf="isPinOwner" [gatheringId]="pin.gathering.groupId" [participantId]="pin.participantId"></invite-someone>
</div>