<div class="fauxdal-wrapper">
  <div class="fauxdal fauxdal-fullscreen">
    <div class="container-fluid">
      <div class="pull-right close">
        <a (click)="closeClick()">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#close"></use>
          </svg>
        </a>
      </div>

      <br>

      <div class="fauxdal-content">
        <div *ngIf="isRemovingSelf">
          <crds-content-block id="groupToolRemoveMyParticipantSubheaderText"></crds-content-block>
        </div>

        <div *ngIf="!isRemovingSelf">
          <crds-content-block id="groupToolRemoveParticipantTitle"></crds-content-block>
          <crds-content-block id="groupToolRemoveParticipantDesc"></crds-content-block>
        </div>

        <div class="row push-top soft-half-top text-left">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="font-family-base-light font-size-smaller">
              <div *ngIf="!isRemovingSelf">
                <crds-content-block id="groupToolRemoveParticipantSubheaderText"></crds-content-block>
              </div>

            </div>

            <form novalidate [formGroup]="removeParticipantForm" (ngSubmit)="onSubmit(removeParticipantForm)">
              <div *ngIf="!isRemovingSelf">
                <!-- Reason for Participant Removal-->
                <div class="form-group">
                  <label class="control-label push-half-bottom" for="removalMessage">YOUR MESSAGE:</label>
                  <textarea type="text" class="form-control" maxlength="255" placeholder="" id="removalMessage" formControlName="removalMessage"
                  name="removalMessage" [(ngModel)]="message" rows="5"></textarea>
                  <p class="error help-block" *ngIf="isFormSubmitted && !removeParticipantForm.get('removalMessage').valid">Message is required!</p>
                </div>
              </div>

              <footer class="soft-top" [ngClass]="{'text-center': isRemovingSelf}">
                <div class="btn-group btn-block-mobile">
                  <button type="submit" [disabled]="submitting" class="btn btn-secondary btn-block-mobile">{{isRemovingSelf ? "Remove Me" : "Remove Participant"}}</button>
                  <button type="button" (click)="closeClick()" class="btn btn-outline btn-default btn-block-mobile">Cancel</button>
                </div>
              </footer>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
