
<div>Connect</div>
<div class="container">
    <strong *ngIf="!isLoggedInUser">Say Hello to</strong>
    <span *ngIf="isLoggedInUser" class="label label-primary">Me</span>
    <p>{{pin.firstName}} {{pin.lastName | slice:0:1}}</p>
    <p>Saying "Hi" is nice and stuff. You should probably do it unless you're not nice.</p>
    <div *ngIf="isLoggedInUser">
        <p>{{pin.address.street1}} {{pin.address.street2}}</p>
        <p>{{pin.address.city}}, {{pin.address.state}} {{pin.address.zip}}</p>
    </div>
    <div *ngIf="!isLoggedIn">
        <button class="btn primary" (click)="redirectToLogin()">Sign In</button>
        <p>Don't have an account? <a [routerLink]="['/register']">Register Now</a></p>
    </div>
    <div *ngIf="isLoggedIn && !isLoggedInUser">
        <button class="btn primary btn-primary" (click)="sayHi()">Say Hi!</button>
    </div>
    <div *ngIf="isLoggedInUser">
        <button class="btn primary btn-primary" (click)="edit">Edit</button>
    </div>
</div>   
