<div class="app-header">

  <!-- Brand Bar -->
  <div class="brand-bar" *ngIf="state.hasBrandBar">
    <div class="app-logo">
      <svg viewBox="0 0 75 15">
        <use xlink:href="/assets/brandbanner-logo-connect.svg#brandbanner-logo-connect"></use>
      </svg>
    </div>
  </div>

  <!-- Search Panel -->
  <app-search-bar  *ngIf="state.hasSearchBar"
                  [isMapHidden] = "!mapViewActive"
                  (viewMap)="viewChanged($event)"
                  (search)="doSearch($event)"></app-search-bar>
</div>
