<div class="row">
  <div class="col-xs-4"><a class="btn-link pull-left font-size-small push-ends pointer" (click)="cancel()">Cancel</a></div>
  <div class="col-xs-4">
    <h2 class="component-header text-center push-half-ends">Filter</h2>
  </div>
  <div class="col-xs-4"><a class="btn-link pull-right font-size-small push-ends pointer" (click)="resetFilters()">Clear All</a></div>
</div>

<accordion class="accordion">
  <accordion-group>
    <div accordion-heading>
      Age Groups
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <age-groups></age-groups>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>
      Category
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <category></category>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>
      Kids Welcome
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <kids-welcome></kids-welcome>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>
      Group Type
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <group-type></group-type>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>
      Location
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <online-or-physical-group></online-or-physical-group>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>
      Day / Time / Frequency
      <i class="pull-right float-xs-right">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
        </svg>
      </i>
    </div>
    <meeting-day></meeting-day>
    <meeting-time></meeting-time>
    <meeting-frequency></meeting-frequency>
  </accordion-group>
</accordion>

<div class="text-center">
  <button class="btn btn-secondary" type="button">Apply filters</button>
</div>