<span *ngIf="doShowHelloMsg" class="pin-details-greeting">Say Hello to</span>

<h2 class="media-heading media-heading-stacked">

  <span class="media-label">
    <span *ngIf="isPinOwner" class="label label-warning">Me</span>
    <span *ngIf="pin.pinType === _pinType.GATHERING" class="label label-primary">Host</span>
  </span>

    <span *ngIf="pin.pinType  === _pinType.GATHERING">
      {{pin.gathering.groupName}}
    </span>0.

    <span *ngIf="pin.pinType !== _pinType.GATHERING && pin.pinType !== _pinType.SMALL_GROUP">
      {{pin.firstName}} {{pin.lastName | slice:0:1}}
    </span>
</h2>