<div *ngIf="isFauxModal">
    <p class='pull-right text-left text-block'>
        <a (click)='close()'>
            <span class="glyphicon glyphicon-remove"> </span>
        </a>
    </p>
</div>
<div>
    <span *ngIf="contentBlock" [innerHTML]="content.getContent(blandPageDetails.content)"></span>
    <span *ngIf="!contentBlock" [innerHTML]="blandPageDetails.content"></span>
</div>
<br>

<div *ngFor="let butt of blandPageDetails.buttons">
    <input type="button" class="btn btn-secondary btn-block {{butt.cssClass}}" (click)="{{butt.clickFunction();}}" value="{{butt.buttonText}}">
</div>


<!--<input type="button" class="btn btn-secondary btn-block" (click)="go();" value="{{blandPageDetails.successButtonText}}">
<input type="button" class="btn btn-secondary btn-block" (click)="retry();" value="{{blandPageDetails.errorButtonText}}">-->