<div class="connect-container connect-layout-container">
    <div>
        <p class="media-meta">STEP 1 OF 9</p>
        <h3 class="media-heading">Group Category</h3>
        <hr>
        <crds-content-block id="groupToolCreateGroupCategoryHelp"></crds-content-block>
    </div>
    <div *ngIf="isComponentReady">
        <form [formGroup]="groupCategoryForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let category of categories" class="btn-group btn-group-block">
                <button class="btn btn-option btn-flex btn-outline" 
                        [id]="category.name" 
                        [ngClass]="{active: category.selected}"
                        (click)="onSelect(category)"
                        formControlName="{{category.name}}"
                        value="{{category}}"
                        [(ngModel)]="category.selected">
                
                        <div class="text-left">{{ category.name }}</div>
                </button>
                <div>
                    <i>{{category.desc}}</i>
                </div>

                <div [hidden]="!category.selected" class="form-group">
                    <div class="input-group input-group-block input-group-left">
                        <input type="text"
                                class="form-control"
                                placeholder="{{category.exampleText}}"
                                id="{{category.name}}-detail"
                                maxlength="25"
                                value="{{category.categoryDetail}}"
                                formControlName="{{category.name}}-detail"
                                [(ngModel)]="category.categoryDetail"
                                required>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 btn-group">
              <button type="submit" class="btn btn-secondary btn-block-mobile">Next</button>
              <button type="button" (click)="closeClick()" class="btn btn-outline btn-default btn-block-mobile">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div>
    <pre>{{categories | json }}</pre>
</div>