<div class="connect-container connect-layout-container">
  <div class="soft-top">
    <div class="soft-top">
      <p class="media-meta flush-bottom">STEP 2 OF 6</p>
      <h3 class="media-heading font-family-condensed-extra text-uppercase">Meeting Time</h3>
      <hr>
      <crds-content-block id="groupToolCreateGroupMeetingTimeHelp"></crds-content-block>
    </div>
  </div>

  <p class="control-label soft-top">When will you meet?</p>
  <form [formGroup]="meetingTimeForm" (ngSubmit)="onSubmit(meetingTimeForm)">
    <div class="btn-group btn-group-block">
      <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: createGroupService.meetingTimeType === groupMeetingScheduleType.SPECIFIC_TIME_AND_DATE}" formControlName="meetingTimeType" value="specific" (click)="onClick(groupMeetingScheduleType.SPECIFIC_TIME_AND_DATE)" ngDefaultControl data-automation-id="specificMeetingTime">
        <div class="row">
          <div class="btn-group-label text-left">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Option 1:
          </div>

          <div class="text-right font-size-large">Pick Day/Time</div>
        </div>
      </button>

      <div *ngIf="createGroupService.meetingTimeType === groupMeetingScheduleType.SPECIFIC_TIME_AND_DATE" class="push-half-ends custom-input">
        <select class="form-control" name="meetingDay" [(ngModel)]="createGroupService.group.meetingDayId" formControlName="meetingDay" (change)="onDayChange($event.target.value)" data-automation-id="meetingDay">
          <option value="null" disabled="true" [selected]="!createGroupService.group.meetingDayId">Select a day</option>
          <option *ngFor="let day of daysOfTheWeek" [value]="day.dp_RecordID">{{day.dp_RecordName}}</option>
        </select>
        <div class="error help-block" role="alert" [hidden]="(!isSubmitted) || meetingTimeForm.controls['meetingDay'].valid">
          <crds-content-block id="finderOneOptionMustBeSelected" data-automation-id="meetingDayRequired"></crds-content-block>
        </div>
        <div class="soft-top">
          <div class="border-ends border-sides soft-sides" data-automation-id="meetingTime">
            <timepicker [(ngModel)]="createGroupService.group.meetingTime" formControlName="meetingTime" [showMeridian]="true" [minuteStep]="15"></timepicker>
          </div>
        </div>
        <div class="soft-top">
          <select class="form-control" name="meetingFrequency" [(ngModel)]="createGroupService.group.meetingFrequencyId" formControlName="meetingFrequency" (change)="onFrequencyChange($event.target.value)" data-automation-id="meetingFrequency">
            <option value="null" disabled="true" [selected]="!createGroupService.group.meetingFrequencyId">Select a frequency</option>
            <option *ngFor="let frequency of meetingFrequencies" [value]="frequency.meetingFrequencyId">{{frequency.meetingFrequencyDesc}}</option>
          </select>
        </div>
        <div class="error help-block" role="alert" [hidden]="(!isSubmitted) || meetingTimeForm.controls['meetingFrequency'].valid">
          <crds-content-block id="finderOneOptionMustBeSelected" data-automation-id="frequencyRequired"></crds-content-block>
        </div>
      </div>
    </div>

    <div class="btn-group btn-group-block">
      <button type="button" class="btn btn-option btn-flex btn-outline" id="flexible" [ngClass]="{active: createGroupService.meetingTimeType === groupMeetingScheduleType.FLEXIBLE}" formControlName="meetingTimeType" value="flexible" (click)="onClick(groupMeetingScheduleType.FLEXIBLE)" ngDefaultControl data-automation-id="flexibleMeetingTime">
        <div class="row">
          <div class="btn-group-label text-left">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Option 2:
          </div>
          <div class="font-size-large text-right">Flexible/Not Sure Yet</div>
        </div>
      </button>
    </div>

    <create-group-footer (backevent)="onBack($event)" [showbackbutton]="true"></create-group-footer>
  </form>
</div>
