@import '~crds-styles/assets/stylesheets/variables';

::-ms-clear {
    display: none;
}

.connect-layout-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: 768px) {
    width: 750px;
  }

  @media (min-width: 992px) {
    width: 750px;
  }

  @media (min-width: 1200px) {
    width: 750px;
  }
}

.searchbar .addon-btn button.active {
  color: $cr-teal;
}

.connect-search {
  .search-mobile {
    .btn-toggle.active {
      color: $cr-cyan;
    }

    .btn-toggle {
      color: $cr-white;
    }
  }

  .searchbar {
    .input-group .form-control + .searchbar-wrapper {
      @media (min-width: 768px) {
        width: 294px;
      }
    }
  }
}
