<div class="searchbar">
<div class="container">
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="searchText">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-sm" (click)="onSearch(searchText.value)">></button>
                    <button type="button" class="btn btn-primary btn-sm" (click)="toggleView()">List/Map</button>
                </span>
        </div>
    </div>
</div>
</div>


