.people {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  @media (min-width: $screen-xs) {
    flex-direction: row;
  }

  .person {
    flex: 1 1 auto;
    text-align: center;

    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    &::last-child {
      padding-top: 1rem;
    }

    .entry-header {
      justify-content: center;
    }
  }
}