.gathering-preview {
  margin: 0 1.25em;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  .pin-details-bg {
    margin: 0 !important;
  }
  dl.group-meta-data {
    margin: 0 1.25em 1em !important;
  }
}