.pin-details-dark {
  background: rgba($cr-black, .9);
  color: $cr-gray-light;

  hr,
  .border-top,
  .border-bottom,
  .border-ends,
  .border-sides {
    border-color: rgba(darken($cr-gray-lighter, 10), .4);
  }

  &.person,
  &.host_plain {
    min-height: 100vh;
    margin-bottom: -1rem;
  }
}

.gathering-description {
  padding-top: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  .list-inline {
    a {
      color: $cr-white;

      &:hover {
        color: rgba($cr-white, .7);
      }
    }
  }
}

dl {
  &.group-meta-data {
    font-size: $font-size-small;

    dt {
      color: $cr-gray-lighter;
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    dd {
      color: $cr-gray-light;
    }
  }
}

.group-meta-data {
  color: $cr-gray-lighter;
  padding-top: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.media {
  .media-img-wrapper {
    &.left-align {
      width: auto;
    }
  }
}

.pending-requests {
  margin-left: 97px;
  margin-top: -1.5rem;
}