.pin-details-bg {
  background: $cr-blue;
  color: rgba($cr-white, .6);
  margin-left: -15px;
  margin-right: -15px;

  hr,
  .border-top,
  .border-bottom,
  .border-ends,
  .border-sides {
    border-color: rgba($cr-white, .6);
  }

  .media {
    .media-heading,
    .pin-details-greeting {
      color: $cr-white;
    }

    .media-meta {
      color: rgba($cr-white, .4);
      font-weight: 400;
    }
  }

  &.person,
  &.host_plain {
    min-height: 100vh;
    margin-bottom: -1rem;
  }

  a {
    color: $cr-cyan-light;

    &:hover {
      color: rgba($cr-cyan-light, .7);
    }
  }
}

.gathering-description {
  padding-top: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

dl {
  &.group-meta-data {
    font-size: $font-size-small;

    dt {
      color: $cr-gray-darker;
      font-weight: 400;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    dd {
      color: $cr-gray-dark;
    }
  }
}

.group-meta-data {
  color: $cr-gray-lighter;
  padding-top: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.media {
  .media-img-wrapper {
    &.left-align {
      width: auto;
    }
  }
}

.pending-requests {
  margin-left: 80px;
  margin-top: -1.5rem;
}