@import '~crds-styles/assets/stylesheets/bootstrap';
@import 'components/modules';
@import 'pages/modules';

body {
  -webkit-font-smoothing: initial;
}

#toast-container {
  z-index: 10;
}

[hidden] { display: none !important;}

app-preloader {
  display: none;
  .loading & {
    display: block;
  }
}

.outlet-wrapper {
  display: block;
  .loading & {
    display: none;
  }
}

section {
  @include make-row;
}

article, aside {
  @include make-md-column(6);
}

app-neighbors {
  display: block;
}

// 🚨 Temp fix - Need higher contrast for active states on btns (to be revisited).
.btn.btn-primary.active {
  background: darken($btn-primary-bg, 20);
}

// Single Toggle Button
.btn-toggle {
  $btn-toggle-styles: (
    primary: (bg: $btn-primary-bg, bc: $btn-primary-border),
    secondary: (bg: $btn-secondary-bg, bc: $btn-secondary-border),
    gray: (bg: $btn-gray-bg, bc: $btn-gray-border),
    option: (bg: $btn-option-bg, bc: $btn-option-border),
    default: (bg: $btn-default-bg, bc: $btn-default-border)
  );

  @each $style, $map in $btn-toggle-styles {
    &.btn-#{$style} {
      &,
      &:active,
      &:active:focus,
      &:focus,
      &:hover {
        background: map-get($map, bg);
        border-color: map-get($map, bc);
        box-shadow: none;
      }
    }
  }
}

.connect-bg {
  background: $cr-gray-lighter;
  margin-bottom: -40px; // Removes white space between footer & content.
}

.connect-layout-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: $screen-sm) {
    width: $container-tablet;
  }

  @media (min-width: $screen-md) {
    width: $container-tablet;
  }

  @media (min-width: $screen-lg) {
    width: $container-tablet;
  }
}

.connect-container {
  background: $cr-white;
  min-height: 381px;

  @for $idx from 5 to 30 {
    $height: $idx * 100;
    @media screen and ( min-height: #{$height}px ){
      min-height: #{$height - 19}px;
    }
  }

  @media (min-width: $screen-sm) {
    box-shadow: 0 0 10px 0 $cr-gray-light;
  }

  &.dark-theme {
    background: $cr-black;
  }
}

.search-filter {
  background: $cr-white;
  min-height: 100vh;

  .btn-group-block {
    .row {
      > div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.search-filter-header {
  border-bottom: 1px solid $cr-gray-lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .component-header {
    margin: 1rem;
  }
}

.no-pointer {
  cursor: default;
}
