<h3 class="title font-size-h5">Invite someone</h3>

<form novalidate [formGroup]="inviteFormGroup" (ngSubmit)="onSubmit(inviteFormGroup)">

  <div class="row">
    <div class="form-group col-xs-6">
      <!--FIRST NAME-->
      <label class="sr-only" for="firstname">First Name</label>
      <input tabindex="1"
             type="text"
             class="form-control"
             maxlength="30"
             placeholder="First Name"
             id="firstname"
             formControlName="firstname"
             name="firstname">

      <p *ngIf="inviteFormGroup.controls['firstname'].touched && !inviteFormGroup.controls['firstname'].valid" class="error help-block">First Name is required!</p>
    </div>

    <!--LAST NAME-->
    <div class="form-group col-xs-6">
      <label class="sr-only" for="lastname">Last Name</label>
      <input tabindex="2"
             type="text"
             class="form-control"
             maxlength="30"
             placeholder="Last Name"
             id="lastname"
             formControlName="lastname"
             name="lastname">

      <p *ngIf="inviteFormGroup.controls['lastname'].touched && !inviteFormGroup.controls['lastname'].valid" class="error help-block">Last Name is required!</p>
    </div>
  </div>

  <div class="row">
    <!--EMAIL-->
    <div class="col-xs-12">
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input tabindex="3"
               type="email"
               class="form-control"
               maxlength="100"
               placeholder="Email"
               id="email"
               formControlName="email"
               name="email">

        <p *ngIf="inviteFormGroup.controls['email'].touched && !inviteFormGroup.controls['email'].valid" class="error help-block">A valid email is required!</p>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="inviteFormGroup.invalid" class="btn btn-secondary">Send Invite</button>
</form>