<h3 class="component-header font-size-h5 text-uppercase flush-bottom">Invite someone</h3>

<hr class="push-quarter-top">

<form novalidate [formGroup]="inviteFormGroup" (ngSubmit)="onSubmit(inviteFormGroup)" class="soft-half-bottom">

  <div class="row">
    <div class="form-group col-xs-6">
      <!--FIRST NAME-->
      <label class="sr-only" for="firstname">First Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="First Name"
             id="firstname"
             formControlName="firstname"
             name="firstname">

      <p *ngIf="isFormSubmitted && !inviteFormGroup.get('firstname').valid" class="error help-block">First Name is required!</p>
    </div>

    <!--LAST NAME-->
    <div class="form-group col-xs-6">
      <label class="sr-only" for="lastname">Last Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="Last Name"
             id="lastname"
             formControlName="lastname"
             name="lastname">

      <p *ngIf="isFormSubmitted && !inviteFormGroup.get('lastname').valid" class="error help-block">Last Name is required!</p>
    </div>
  </div>

  <div class="row">
    <!--EMAIL-->
    <div class="col-xs-12">
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input type="email"
               class="form-control"
               maxlength="100"
               placeholder="Email"
               id="email"
               formControlName="email"
               name="email">

        <p *ngIf="isFormSubmitted && !inviteFormGroup.get('email').valid" class="error help-block">A valid email is required!</p>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-outline btn-primary btn-block-mobile">Send Invite</button>
</form>
