<div class="fauxdal-wrapper">
  <div class="fauxdal fauxdal-fullscreen">
    <div class="container-fluid">
      <div class="pull-right close">
        <a (click)="closeClick()">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#close"></use>
          </svg>
        </a>
      </div>

      <br>

      <div class="fauxdal-content">
        <form novalidate [formGroup]="hostForm" (ngSubmit)="onSubmit(hostForm)">
          <h1 class="title">Host now!</h1>

          <p>Tell us where you want to meet and what you want to do.</p>

          <!--HOME ADDRESS-->
          <div class="row text-left soft-top">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="control-label push-half-bottom">HOME ADDRESS:</div>
              <address-form [parentForm]="hostForm" [address]="homeAddress" groupName="homeAddress" [isFormSubmitted]="isFormSubmitted"></address-form>
              <div class="font-family-base-light font-size-smaller">
                Any changes you make to your home address will be reflected in your profile on crossroads.net
              </div>

              <!--MEETING AT HOME? -->
              <div class="checkbox">
                <label for="isHomeAddress">
                <input checked="" type="checkbox" value="" id="isHomeAddress" formControlName="isHomeAddress" name="isHomeAddress">We will meet at my home</label>
              </div>
            </div>
          </div>

          <!--GATHERING ADDRESS-->
          <div class="row text-left soft-top" *ngIf="!this.hostForm.value.isHomeAddress" id="gatheringAddressForm">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="control-label push-half-bottom">GATHERING ADDRESS:</div>
              <address-form [parentForm]="hostForm" [address]="groupAddress" groupName="groupAddress" [isFormSubmitted]="isFormSubmitted"></address-form>
            </div>
          </div>

          <!--CONTACT PHONE NUMBER-->
          <div class="row text-left soft-top">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <label class="sr-only" for="contactNumber">BEST REACHED AT:</label>
              <input type="tel" onlyTheseKeys="[0-9]" maxlength="10" class="form-control push-half-top" placeholder="Phone number"
                id="contactNumber" formControlName="contactNumber" name="contactNumber">
              <p class="error help-block" *ngIf="isFormSubmitted && !hostForm.controls['contactNumber'].valid">Phone number is invalid!!</p>
            </div>
          </div>

          <!--GATHERING DESCRIPTION-->
          <div class="row push-top text-left soft-half-top">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="font-family-base-light font-size-smaller">
                <crds-content-block id="hintsForGatheringDesc"></crds-content-block>
              </div>

              <label class="control-label push-half-bottom" for="gatheringDescription">GATHERING DESCRIPTION:</label>
              <textarea type="text" class="form-control" rows="5" maxlength="300" placeholder="Group Description" id="gatheringDescription"
                formControlName="gatheringDescription" name="gatheringDescription"></textarea>
              <p class="error help-block" *ngIf="isFormSubmitted && !hostForm.controls['gatheringDescription'].valid">Gathering description is invalid!</p>
            </div>
          </div>

          <footer class="soft-top row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 btn-group">
              <button type="submit" class="btn btn-secondary">Submit</button>
              <button type="button" (click)="closeClick()" class="btn btn-outline btn-default">Cancel</button>
            </div>
          </footer>

          <div *ngIf="submissionError" class="alert alert-danger">
            <crds-content-block id="generalError"></crds-content-block>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>