
<div class="fauxdal fauxdal-fullscreen">
  <div class="container-fluid">

      <form novalidate [formGroup]="hostForm" (ngSubmit)="onSubmit(hostForm)">

      <!--HOME ADDRESS-->
      <address-form2 [parentForm]="hostForm" [address]="homeAddress" groupName="homeAddress" [isFormSubmitted] = "isFormSubmitted"></address-form2>

      <!--MEETING AT HOME? -->
      <div class="row">
        <div class="form-group col-xs-12">
          <label class="sr-only" for="isHomeAddress">We will meet at my home</label>
          <input tabindex="1"
                 type="checkbox"
                 class="form-control"
                 id = "isHomeAddress"
                 formControlName="isHomeAddress"
                 name="isHomeAddress">
          <p class="error help-block" *ngIf="isFormSubmitted && !hostForm.controls['isHomeAddress'].valid">Contact number is invalid!</p>
        </div>
      </div>


      <!--GROUP ADDRESS-->
      <div *ngIf = "!this.hostForm.value.isHomeAddress">
        <address-form2 [parentForm]="hostForm" [address]="groupAddress" groupName="groupAddress" [isFormSubmitted] = "isFormSubmitted"></address-form2>
      </div>

      <!--CONTACT PHONE NUMBER-->
      <div class="row">
        <div class="form-group col-xs-12">
          <label class="sr-only" for="contactNumber">BEST REACHED AT:</label>
          <input tabindex="1"
                 type="text"
                 class="form-control"
                 maxlength="75"
                 placeholder="Contact Number"
                 id = "contactNumber"
                 formControlName="contactNumber"
                 name="contactNumber">
          <p class="error help-block" *ngIf="isFormSubmitted && !hostForm.controls['contactNumber'].valid">Contact number is invalid!!</p>
        </div>
      </div>

      <!--GATHERING DESCRIPTION-->
      <div class="row">
        <div class="form-group col-xs-12">
          <label class="sr-only" for="gatheringDescription">GATHERING DESCRIPTION:</label>
          <input tabindex="1"
                 type="text"
                 class="form-control"
                 maxlength="75"
                 placeholder="Group Description"
                 id = "gatheringDescription"
                 formControlName="gatheringDescription"
                 name="gatheringDescription">
          <p class="error help-block" *ngIf="isFormSubmitted && !hostForm.controls['gatheringDescription'].valid">Gathering description is invalid!</p>
        </div>
      </div>

      <footer class="page-footer page-footer-vertical">
        <button type="submit" class="btn btn-secondary">Submit</button>
      </footer>

      <div *ngIf="submissionError" class="alert alert-danger">
        <crds-content-block id="generalError"></crds-content-block>
      </div>

      </form>

  </div>
</div>