<h3 class="component-header font-size-h5 text-uppercase flush-bottom">Add A Participant</h3>

<hr class="push-quarter-top">

<form novalidate [formGroup]="addFormGroup" (ngSubmit)="onSubmit(addFormGroup)" class="soft-half-bottom">

  <div class="row">
    <div class="form-group col-xs-6">
      <!--FIRST NAME-->
      <label class="sr-only" for="firstname">First Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="First Name"
             id="firstname"
             formControlName="firstname"
             name="firstname">

      <p *ngIf="isFormSubmitted && !addFormGroup.controls['firstname'].valid" class="error help-block">First Name is required!</p>
    </div>

    <!--LAST NAME-->
    <div class="form-group col-xs-6">
      <label class="sr-only" for="lastname">Last Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="Last Name"
             id="lastname"
             formControlName="lastname"
             name="lastname">

      <p *ngIf="isFormSubmitted && !addFormGroup.controls['lastname'].valid" class="error help-block">Last Name is required!</p>
    </div>
  </div>

  <div class="row">
    <!--EMAIL-->
    <div class="col-xs-12">
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input type="email"
               class="form-control"
               maxlength="100"
               placeholder="Email"
               id="email"
               formControlName="email"
               name="email">

        <p *ngIf="isFormSubmitted && !addFormGroup.controls['email'].valid" class="error help-block">A valid email is required!</p>
      </div>
    </div>
  </div>

  <div *ngIf="showFauxdal" class="fauxdal-wrapper">
  <div class="fauxdal fauxdal-center">
    <div class="container-fluid">
      <div class="pull-right close">
        <a (click)="hideResultsFauxdal()">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#close"></use>
          </svg>
        </a>
      </div>
      <br>
      <div class="fauxdal-content">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div *ngIf="!matchFound">
              <div class="font-size-small font-family-base-light">
                <p>The new user <strong>{{selectedMatch.firstname}} {{selectedMatch.lastname}}</strong> with email address <strong>{{selectedMatch.email}}</strong> will be added to your group.</p>
              </div>
            </div>
            <div *ngIf="matchFound">
              <div class="font-size-small font-family-base-light">
                <p>The existing Crossroads user with email address <strong>{{selectedMatch.email}}</strong> will be added to your group.</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <footer class="row soft-top">
          <button type="button" class="btn btn-secondary btn-block-mobile"  (click)="fauxdalUseSelected()">OK</button>
          <button type="button" class="btn btn-default btn-outline btn-block-mobile" (click)="hideResultsFauxdal()">Cancel</button>
        </footer>
      </div>
    </div>
  </div>
</div>

  <button type="submit" class="btn btn-outline btn-primary">Add</button>
</form>