<h3 class="title font-size-h5">Add Participant</h3>

<form novalidate [formGroup]="addFormGroup" (ngSubmit)="onSubmit(addFormGroup)">

  <div class="row">
    <div class="form-group col-xs-6">
      <!--FIRST NAME-->
      <label class="sr-only" for="firstname">First Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="First Name"
             id="firstname"
             formControlName="firstname"
             name="firstname">

      <p *ngIf="isFormSubmitted && !addFormGroup.controls['firstname'].valid" class="error help-block">First Name is required!</p>
    </div>

    <!--LAST NAME-->
    <div class="form-group col-xs-6">
      <label class="sr-only" for="lastname">Last Name</label>
      <input type="text"
             class="form-control"
             maxlength="30"
             placeholder="Last Name"
             id="lastname"
             formControlName="lastname"
             name="lastname">

      <p *ngIf="isFormSubmitted && !addFormGroup.controls['lastname'].valid" class="error help-block">Last Name is required!</p>
    </div>
  </div>

  <div class="row">
    <!--EMAIL-->
    <div class="col-xs-12">
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input type="email"
               class="form-control"
               maxlength="100"
               placeholder="Email"
               id="email"
               formControlName="email"
               name="email">

        <p *ngIf="isFormSubmitted && !addFormGroup.controls['email'].valid" class="error help-block">A valid email is required!</p>
      </div>
    </div>
  </div>

  
 
  <div bsModal #resultsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Possible Matches</h4>
          <button type="button" class="close pull-right" (click)="hideResultsModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
                              
          <div *ngIf="matchFound">
             The exisitng Crossroads user {{selectedMatch.firstname}} {{selectedMatch.lastname}} with email address {{selectedMatch.email}} will be added to your group.
             <br>
             <button type="button" class="btn btn-primary"  (click)="modalUseSelected()">OK</button>
             <button type="button" class="btn btn-primary" (click)="hideResultsModal()">Cancel</button>
          </div>

          <div *ngIf="!matchFound">
             {{selectedMatch.firstname}} {{selectedMatch.lastname}} with email address {{selectedMatch.email}} will be added to your group.
             <br>
             <button type="button" class="btn btn-primary" (click)="modalUseEntered()">OK</button>
             <button type="button" class="btn btn-primary" (click)="hideResultsModal()">Cancel</button>
          </div>

          
        </div>
        
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-secondary">Done</button>
</form>