<div class="connect-container connect-layout-container soft-sides">

  <div *ngIf="appSettings.isConnectApp()" >
    <!-- Intro Text -->
    <crds-content-block id="finderGettingStarted"></crds-content-block>

    <!-- Add Me To The Map Text/Button -->
    <crds-content-block id="finderGettingStartedAddToMap"></crds-content-block>

    <div class="soft-bottom soft-quarter-top">
      <div class="btn-group full-width">
        <a routerLink="/add-me-to-the-map" class="btn btn-primary btn-block-mobile">Add me to map</a>
      </div>
    </div>

    <!-- Host Text/Buttons -->
    <crds-content-block id="finderGettingStartedHost"></crds-content-block>

    <div class="push-bottom soft-bottom">
      <div class="btn-group full-width">
        <a routerLink="/host-signup" class="btn btn-primary btn-block-mobile">Sign up to host</a>
        <a routerLink="/whats-a-host" class="btn btn-default btn-outline btn-block-mobile">What's a host</a>
      </div>
    </div>
  </div>

  <div *ngIf="appSettings.isSmallGroupApp()" >
    <!-- Intro Text -->
    <crds-content-block id="finderGettingStartedGroups"></crds-content-block>

    <!-- Find a Group Text/Button -->
    <crds-content-block id="finderGettingStartedGroupsFindGroup"></crds-content-block>

    <div class="soft-bottom soft-quarter-top">
      <div class="btn-group full-width">
        <a routerLink="/" class="btn btn-primary btn-block-mobile">Find a group</a>
      </div>
    </div>

    <!-- Be a Leader Text/Buttons -->
    <crds-content-block id="finderGettingStartedGroupsLeader"></crds-content-block>                            

    <div class="push-bottom soft-bottom">
      <div class="btn-group full-width">
        <a routerLink="/create-group" class="btn btn-primary btn-block-mobile">Apply to be a leader</a>
        <a routerLink="/create-group" class="btn btn-default btn-outline btn-block-mobile">Start a group</a>
      </div>
    </div>    
  </div>  

  <!-- Onsite Group info -->
  <crds-content-block id="finderGettingStartedGroupsOnSite"></crds-content-block>  

  <div class="soft-bottom soft-quarter-top">
    <div class="btn-group full-width">
      <a (click)="onClickOnsiteGroups()"  class="btn btn-primary btn-block-mobile">Onsite groups</a>
    </div>
  </div>  

  <!-- Faqs -->
  <crds-content-block id="finderGettingStartedGroupsFaqs"></crds-content-block>
  
</div>