<div class="container">
  <crds-content-block id="gettingStarted"></crds-content-block>
  <p>PEOPLE GO HERE</p>
  <crds-content-block id="gettingStartedAddToMap"></crds-content-block>
  <a routerLink="/add-me-to-the-map" class="btn btn-secondary btn-block">Add me to map</a>
  <crds-content-block id="gettingStartedHost"></crds-content-block>
  <a routerLink="/host-signup" class="btn btn-secondary btn-block">Sign up</a>
  <a routerLink="/whats-a-host" class="btn btn-secondary btn-block">What's a host</a>
</div>
