<div class="content-middle connect-container">
  <!--<div class="content-middle">-->

    <!-- Intro Text -->
    <crds-content-block id="finderGettingStarted"></crds-content-block>

    <!-- People -->
    <!--<div class="people push-ends">
      <div class="row push-ends" *ngFor="let group of pins">
        <div class="person col-xs-6" *ngFor="let pin of group">
          <div class="avatar-group avatar-size-6">
            <img src="{{pin.image}}" class="img-circle">
          </div>
          <div class="label-center">
            <span *ngIf="pin.host" class="label label-host">HOST</span>
          </div>
          <h3 class="entry-header">{{pin.name}}</h3>
          <p class="entry-subheader">
            <span class="proximity">{{pin.location}}</span>
          </p>
        </div>
        <h3 class="entry-header">{{pin.name}} <span *ngIf="pin.host" class="label label-host">HOST</span></h3>
        <p class="entry-subheader">
          <span class="proximity">{{pin.location}}</span>
        </p>
      </div>
    </div>-->

    <!-- Add Me To The Map Text/Button -->
    <crds-content-block id="finderGettingStartedAddToMap"></crds-content-block>

    <div class="soft-bottom soft-quarter-top">
      <div class="btn-group">
        <a routerLink="/add-me-to-the-map" class="btn btn-primary">Add me to map</a>
      </div>
    </div>

    <!-- Host Text/Buttons -->
    <crds-content-block id="finderGettingStartedHost"></crds-content-block>
    <div class="push-bottom soft-bottom">
      <div class="btn-group">
        <a routerLink="/host-signup" class="btn btn-primary">Sign up</a>
        <a routerLink="/whats-a-host" class="btn btn-default btn-outline">What's a host</a>
      </div>
    </div>
  </div>