<div class="btn-group btn-group-block">
  <button type="button"
            class="btn btn-option btn-flex btn-outline"
            (click)="kidsWelcome(true)" [class.active]="selected && areKidsWelcome === true">
    <div class="row">
      <div class="btn-group-label text-left">
        <span class="btn-group-icons">
          <svg class="icon circle-thin" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
          </svg>

          <svg class="icon check-circle" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
          </svg>
        </span>
        Yes
      </div>
    </div>
  </button>

   <button type="button"
        class="btn btn-option btn-flex btn-outline"
        (click)="kidsWelcome(false)" [class.active]="selected && areKidsWelcome === false">
    <div class="row">
      <div class="btn-group-label text-left">
        <span class="btn-group-icons">
          <svg class="icon circle-thin" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
          </svg>

          <svg class="icon check-circle" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
          </svg>
        </span>
        No
      </div>
    </div>
  </button>
<div>
