<div class="connect-container connect-layout-container">

  <div class="soft-ends">
    <div class="soft-top">
      <h3 class="media-heading font-family-condensed-extra text-uppercase">Group Preview</h3>
      <hr>
      <crds-content-block id="groupToolDetailPageAboutHeadingSubtext"></crds-content-block>
    </div>
  </div>

  <div class="gathering-preview">
    <gathering *ngIf="isComponentReady" [user]="smallGroupPin" [pin]="smallGroupPin" [isLoggedIn]="false" [isPinOwner]="false"
      [previewMode]="true" [leaders]="leaders">
    </gathering>
  </div>

  <form (ngSubmit)="onSubmit()">
    <create-group-footer (backevent)="onBack()" [showbackbutton]="true"></create-group-footer>
  </form>

</div>
