
<h3>What's a host?</h3>
<div>
    <p>
        Hosts are people who invite others into their lives and into a closer relationship with God. This could be you doing a bible study on your back porch, or watching a service with others in your living room, or maybe just meeting your group for coffee.

        As a host, you will pick the place to meet, coordinate the times, and then be present. You don't have to be a spiritual guru, just interested in following God yourself and helping others do the same. If that's you then let's do this thing.
    </p>
</div>
<br>

<input type="button"  class="btn btn-secondary btn-block" (click)="signUpToHostClicked();" value="Sign up to host">