<div class="search-filter connect-layout-container">
  <div class="search-filter-header">
    <a href="" class="font-size-smaller">Apply</a>
    <h3 class="component-header">Filters</h3>
    <a href="" class="font-size-smaller">Reset</a>
  </div>

  <div class="soft-quarter-ends">
    <div class="form-group">
      <label class="sr-only" for="customAmount">Current location</label>
      <div class="input-group input-group-block input-group-left">
        <span class="input-group-addon">
          <svg class="icon" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#usd"></use>
          </svg>
        </span>
        <input class="form-control" name="currentLocation" placeholder="Current location" type="text" value="">
      </div>
    </div>
  </div>

  <accordion class="accordion">
    <accordion-group>
      <div accordion-heading>
        Age Range

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>

      <div class="btn-group">
        <button class="btn btn-option btn-outline" type="button">Middle School</button>
        <button class="btn btn-option btn-outline" type="button">High School</button>
        <button class="btn btn-option btn-outline" type="button">College</button>
        <button class="btn btn-option btn-outline" type="button">20s</button>
        <button class="btn btn-option btn-outline" type="button">30s</button>
        <button class="btn btn-option btn-outline" type="button">40s</button>
        <button class="btn btn-option btn-outline" type="button">50s</button>
        <button class="btn btn-option btn-outline" type="button">60s+</button>
      </div>
    </accordion-group>

    <accordion-group>
      <div accordion-heading>
        Category

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>
    </accordion-group>

    <accordion-group>
      <div accordion-heading>
        Group Type

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>
    </accordion-group>

    <accordion-group>
      <div accordion-heading>
        Kids Welcome

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>

      <div class="btn-group btn-group-block">
        <button type="button" class="btn btn-option btn-flex btn-outline active">
          <div class="row">
            <div class="btn-group-label">
              <span class="btn-group-icons">
                <svg class="icon circle-thin" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
                </svg>

                <svg class="icon check-circle" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
                </svg>
              </span>
              Yes
            </div>
          </div>
        </button>

        <button type="button" class="btn btn-option btn-flex btn-outline">
          <div class="row">
            <div class="btn-group-label">
              <span class="btn-group-icons">
                <svg class="icon circle-thin" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
                </svg>

                <svg class="icon check-circle" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
                </svg>
              </span>
              No
            </div>
          </div>
        </button>
      </div>
    </accordion-group>

    <accordion-group>
      <div accordion-heading>
        Location

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>
    </accordion-group>
    <accordion-group>
      <div accordion-heading>
        Day / Time / Frequency

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>

      <p class="control-label">Day</p>

      <div class="btn-group push-bottom">
        <button class="btn btn-option btn-outline" type="button">Sunday</button>
        <button class="btn btn-option btn-outline" type="button">Monday</button>
        <button class="btn btn-option btn-outline" type="button">Tuesday</button>
        <button class="btn btn-option btn-outline" type="button">Wednesday</button>
        <button class="btn btn-option btn-outline" type="button">Thursday</button>
        <button class="btn btn-option btn-outline" type="button">Friday</button>
        <button class="btn btn-option btn-outline" type="button">Saturday</button>
      </div>

      <p class="control-label">Time</p>

      <div class="btn-group push-bottom">
        <button class="btn btn-option btn-outline" type="button">Mornings (before noon)</button>
        <button class="btn btn-option btn-outline" type="button">Afternoons (12 - 5pm)</button>
        <button class="btn btn-option btn-outline" type="button">Evenings (after 5pm)</button>
      </div>

      <p class="control-label">Frequency</p>

      <div class="btn-group push-half-bottom">
        <button class="btn btn-option btn-outline" type="button">Every week</button>
        <button class="btn btn-option btn-outline" type="button">Every other week</button>
        <button class="btn btn-option btn-outline" type="button">Every month</button>
      </div>
    </accordion-group>
    <accordion-group>
      <div accordion-heading>
        Leader's Site

        <i class="pull-right float-xs-right">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
          </svg>
        </i>
      </div>
    </accordion-group>
  </accordion>
</div>