<div class="connect-container connect-layout-container">
  <div class="soft-top">
    <div class="soft-top">
      <p class="media-meta flush-bottom">STEP 3 OF 6</p>
      <h3 class="media-heading font-family-condensed-extra text-uppercase">Location</h3>
      <hr>
      <crds-content-block id="groupToolCreateGroupMeetingLocationHelp"></crds-content-block>
    </div>
  </div>

  <p class="control-label soft-top">Where will your group meet?</p>
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit(locationForm)">
    <div class="btn-group btn-group-block">
      <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: !createGroupService.group.isVirtualGroup}" formControlName="isVirtualGroup" value="false" (click)="onClickIsVirtual(false)" ngDefaultControl>
        <div class="row">
          <div class="text-left btn-group-label">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Option 1:
          </div>

          <div class="text-right font-size-large">In Person</div>
        </div>
      </button>

      <div class="custom-input push-top" *ngIf="!createGroupService.group.isVirtualGroup">
        <input class="form-control" name="address" formControlName="address" placeholder="Address" [(ngModel)]="createGroupService.group.address.addressLine1">
        <p class="alert alert-danger" role="alert" [hidden]="(!isSubmitted) || locationForm.controls['address'].valid">Address is required</p>
        <input class="push-top form-control" name="city" formControlName="city" placeholder="City" [(ngModel)]="createGroupService.group.address.city">
        <p class="alert alert-danger" role="alert" [hidden]="(!isSubmitted) || locationForm.controls['city'].valid">City is required</p>

        <div>
          <div class="push-top row">
            <div class="col-xs-6 hard-left soft-right">
              <select class="form-control" name="state" formControlName="state" placeholder="State" [(ngModel)]="createGroupService.group.address.state">
                <option value="null" disabled="true" [selected]="!createGroupService.group.address.state">State</option>
                <option *ngFor="let state of usStatesList" [value]="state">{{state}}</option>
              </select>
              <div class="alert alert-danger" role="alert" [hidden]="(!isSubmitted) || locationForm.controls['state'].valid">
                <crds-content-block id="oneOptionMustBeSelected"></crds-content-block>
              </div>
            </div>

            <div class="col-xs-6 hard-right">
              <input class="form-control" name="zip" formControlName="zip" placeholder="Zip" [(ngModel)]="createGroupService.group.address.zip" minlength="5" maxlength="5" type="tel" onlyTheseKeys="[0-9]">
              <div class="alert alert-danger" role="alert" [hidden]="(!isSubmitted) || locationForm.controls['zip'].valid">
                <crds-content-block id="invalidZip"></crds-content-block>
              </div>
            </div>
          </div>
        </div>

        <div class="push-top">
          <label class="control-label">Are kids welcome at the group?</label>
        </div>

        <div class="btn-group-block">
          <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: createGroupService.group.kidsWelcome}" formControlName="kidsWelcome" value="true" (click)="onClickKidsWelcome(true)" ngDefaultControl style="white-space: normal">
            <div class="btn-group-label text-left row">
              <span class="btn-group-icons">
                <svg class="icon circle-thin" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
                </svg>
                <svg class="icon check-circle" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
                </svg>
              </span>
              Yep. Kids are welcome. As a group, we'll decide what to do with them.
            </div>
          </button>
          <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: createGroupService.group.kidsWelcome === false}" formControlName="kidsWelcome" value="false" (click)="onClickKidsWelcome(false)" ngDefaultControl>
            <div class="btn-group-label text-left row">
              <span class="btn-group-icons">
                <svg class="icon circle-thin" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
                </svg>
                <svg class="icon check-circle" viewBox="0 0 256 256">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
                </svg>
              </span>
              No. Adults only please.
            </div>
          </button>
          <div class="alert alert-danger" role="alert" [hidden]="(!isSubmitted) || locationForm.controls['kidsWelcome'].valid">
            <crds-content-block id="oneOptionMustBeSelected"></crds-content-block>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-group btn-group-block soft-top">
      <button type="button" class="btn btn-option btn-flex btn-outline" id="online" [ngClass]="{active: createGroupService.group.isVirtualGroup}" formControlName="isVirtualGroup" value="true" (click)="onClickIsVirtual(true)" ngDefaultControl>
        <div class="row">
          <div class="btn-group-label text-left">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Option 2:
          </div>
          <div class="font-size-large text-right">Online</div>
        </div>
      </button>
    </div>

    <create-group-footer (backevent)="onBack($event)" [showbackbutton]="true"></create-group-footer>
  </form>
</div>


<pre>{{ createGroupService.group | json}}</pre>