<div class="media">
  <profile-picture [contactId]="participant.contactId" wrapperClass="media-img-wrapper" imageClass="media-object img-size-5"></profile-picture>
  <div class="media-body">
    <h4 class="media-heading">{{participant.nickName}} {{participant.lastName | slice:0:1}}
      <span class="media-label">
        <span *ngIf="showMeLabel()" class="label label-warning">Me</span>
        <span *ngIf="showHostLabel()" class="label label-primary">Host</span>
      </span>
    </h4>

    <a class="pointer" href="mailto:{{participant.email}}">{{participant.email}}</a>
  </div>
</div>