<div class="media soft-half-ends">
  <!-- TODO: Add logic to only add pointer class to  picture and name if the current user is a leader and it's not their own participant record-->
  <profile-picture (click)="onParticipantClick()" [contactId]="participant.contactId"  [ngClass]="{'pointer': canBeHyperlinked}" wrapperClass="media-img-wrapper left-align" imageClass="media-object img-size-4"></profile-picture>
  <div class="media-body">
    <h4 (click)="onParticipantClick()" [ngClass]="{'pointer': canBeHyperlinked}" class="media-heading font-size-base">{{participant.nickName}} {{participant.lastName}}
      <span class="media-label">
        <span *ngIf="isMe" class="label label-warning">Me</span>
        <span *ngIf="showHostLabel()" class="label label-primary">Host</span>
      </span>
    </h4>

    <a class="pointer" href="mailto:{{participant.email}}">{{participant.email}}</a>
    <span *ngIf="isMe && !isLeader"><br /><a class="pointer" (click)="onRemoveParticipant()">Leave this group</a></span>
  </div>
</div>
