<div class="row top-buffer">
    <div class="row">
        <div class="col-md-1">
            <profile-picture [contactId]="participant.contactId" wrapperClass="pin-detail-image avatar-group avatar-size-3" imageClass="img-circle"></profile-picture>
        </div>
        <div class="col-md-8">
            <span class="h4">{{participant.nickName}} {{participant.lastName | slice:0:1}} </span>
            <span *ngIf="showMeLabel()" class="label label-me">Me</span>
            <span *ngIf="showHostLabel()" class="label label-host">Host</span>
            <br />
            <a class="small" href="mailto:{{participant.email}}">{{participant.email}}</a>
        </div>
    </div>
</div>