<div class="row">
  <hr/>
  <div *ngIf="isPerson()" class="col-xs-12 person entry">
    <img src="{{getPicByPinType()}}">
    <h4>{{name()}}</h4>
    <p class="proximity">{{proximity}} mi</p>
  </div>
  <div *ngIf="isGathering()" class="col-xs-12 gathering entry">
    <img src="{{getPicByPinType()}}">
    <h4>name() <span>HOST</span></h4>
    <p class="proximity">{{proximity}} mi <span>Joined by {{count()}} others</span></p>
    <p class="description">{{description}}</p>
  </div>
  <div *ngIf="isSite()" class="col-xs-12 site entry">
    <img src="{{getPicByPinType()}}">
    <h4>Crossroads {{siteName}}</h4>
    <p class="site-address">{{siteAddress()}}</p>
  </div>
</div>
