.entry {
  padding-left: 0px;
  padding-right: 0px;
  cursor: hand;
  cursor: pointer;
}

hr {
  margin: 5px;
}

h4 {
  color: #1997d9;
  margin: 5px 0;
}

p.proximity {
  font-size: 10px;
  margin-bottom: 0px;
}

p.proximity span {
  padding-left: 10px;
}

p.description {
  font-size: 13px;
  margin-top: 5px;
}

p.site-address {
  font-size: 13px;
}

.gathering h4 span {
  background-color: #c9dcee;
  border-radius: 3px;
  font-size: 12px;
  font-family: serif;
  color: #666666;
  float: right;
  padding: 5px;
  margin-left: 10px;
}

img {
  background-color: #aaaaaa;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
}

.person img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.gathering img {
  height: 70px;
  width: 70px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.site img {
  height: 50px;
  width: 50px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 20px;
}
