.entry {
  padding-right: 0px;
}

hr {
  margin: 5px;
}

h4 {
  margin: 5px 0;
}

p.proximity {
  font-size: 10px;
  margin-bottom: 0px;
}

p.proximity span {
  padding-left: 10px;
}

p.description {
  font-size: 13px;
  margin-top: 5px;
}

p.site-address {
  font-size: 13px;
}

.gathering h4 span {
  background-color: #aaaaaa;
  border-radius: 0;
  font-size: 12px;
  padding: 0 5px 2px 5px;
}

img {
  background-color: #aaaaaa;
  float: right;
  border-radius: 50%;
  margin-top: 3px;
}

.person img {
  height: 40px;
  width: 40px;
  margin-right: 15px;
}

.gathering img {
  height: 70px;
  width: 70px;
  margin-right: 0px;
}

.site img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
