<div *ngIf="isPerson"
     class="media media-link border-bottom person"
     (click)="sayHi(participantId)">
  <profile-picture [contactId]="contactId"
                   wrapperClass="media-img-wrapper"
                   imageClass="media-object img-size-4"></profile-picture>
  <div class="media-body">
    <h3 class="media-heading">{{formatName()}}<span class="media-label">
        <span *ngIf="isMe()" class="label label-warning">ME</span>
      </span></h3>
    <p class="media-meta">
      <span>{{pin?.proximity |  number : '1.2-2' }} MI</span>
    </p>
  </div>
</div>

<div *ngIf="isGathering"
     class="media media-link border-bottom gathering"
     (click)="displayPinDetails(pin)">
  <profile-picture [contactId]="contactId"
                   wrapperClass="media-img-wrapper"
                   imageClass="media-object img-size-5"></profile-picture>
  <div class="media-body">
    <h3 class="media-heading">{{formatName()}}
      <span class="media-label">
        <span class="label label-primary">HOST</span>
        <span *ngIf="isMyGathering()" class="label label-warning">ME</span>
      </span>
    </h3>
    <p class="media-meta">
      <span>{{pin?.proximity |  number : '1.2-2' }} MI</span>
      <!--This functionality is being removed due to DE3433 and will be completed in USUS7759
     <span>JOINED BY {{count()}}</span>
     -->
    </p>
    <p class="media-description">{{gatheringDescription()}}</p>

  </div>
</div>

<div *ngIf="isSite" class="media border-bottom site">
  <div class="media-img-wrapper">
    <div class="media-object-default img-circle media-object img-size-5">
    </div>
    <div class="media-object-overlay img-circle media-object img-size-5" style="background-image: url('//crds-cms-uploads.s3.amazonaws.com/connect/SITE.png');"></div>
  </div>
  <div class="media-body">
    <h3 class="media-heading">Crossroads {{siteName}}</h3>
    <readonly-address [isPinOwner]="true" [address]="address" [distance]="proximity"></readonly-address>
  </div>
</div>

<div *ngIf="isSmallGroup"
     class="media media-link border-bottom gathering"
     (click)="displayPinDetails(pin)">
  <profile-picture [contactId]="contactId"
                   wrapperClass="media-img-wrapper"
                   imageClass="media-object img-size-5"></profile-picture>
  <div class="media-body">
    <h3 class="media-heading">{{formatName()}}
      <span class="media-label">
        <!-- Placeholder for custom labels, the logic for which is not yet available in groups-->
      </span>
    </h3>
    <p class="media-meta">
      <span *ngIf="pin?.gathering?.meetingDay != null">{{pin?.gathering?.meetingDay}} at {{ pin?.gathering?.meetingTime }}, {{pin?.gathering?.meetingFrequency}}</span>
      <span *ngIf="pin?.gathering?.meetingDay == null">Flexible Meeting Time</span>
      <br>
      <span *ngIf="address.addressId !== 0">({{pin?.proximity |  number : '1.2-2' }} MI)</span>
      <span *ngIf="address.addressId === 0">Online Group</span>
    </p>

    <dl class="media-description">
      <dt>Category:</dt>
      <dd *ngFor="let category of pin?.gathering?.categories">{{category.replace(":", ": ")}}</dd>
      <dd *ngIf="pin?.gathering?.categories == null">&nbsp;</dd>
      <dt>Type:</dt>
      <dd>{{pin?.gathering?.groupType || '&nbsp;'}}</dd>
      <dt>Leader:</dt>
      <dd>{{formatName() || '&nbsp;'}}</dd>
    </dl>
  </div>

</div>
