<div *ngIf="isPerson()"
     class="media media-link border-bottom person"
     (click)="sayHi(participantId)">
  <profile-picture [contactId]="contactId"
                   wrapperClass="media-img-wrapper"
                   imageClass="media-object img-size-4"></profile-picture>
  <div class="media-body">
    <h3 class="media-heading">{{name()}}<span class="media-label">
        <span *ngIf="isMe()" class="label label-warning">ME</span>
      </span></h3>
    <p class="media-meta">
      <span>{{roundedProximity()}} MI</span>
    </p>
  </div>
</div>

<div *ngIf="isGathering()"
     class="media media-link border-bottom gathering"
     (click)="displayDetails(groupId)">
  <profile-picture [contactId]="contactId"
                   wrapperClass="media-img-wrapper"
                   imageClass="media-object img-size-5"></profile-picture>
  <div class="media-body">
    <h3 class="media-heading">{{name()}}
      <span class="media-label">
        <span *ngIf="!isMyGathering()" class="label label-primary">HOST-PHIL</span>
        <span *ngIf="isMyGathering()" class="label label-primary">ME</span>
      </span>
    </h3>
    <p class="media-meta">
      <span>{{roundedProximity()}} MI</span>
      <!--This functionality is being removed due to DE3433 and will be completed in USUS7759
     <span>JOINED BY {{count()}}</span>
     -->
    </p>
    <p class="media-description">{{gatheringDescription()}}</p>
  </div>
</div>

<div *ngIf="isSite()" class="media border-bottom site">
  <div class="media-img-wrapper">
    <div class="media-object-default img-circle media-object img-size-5">
    </div>
    <div class="media-object-overlay img-circle media-object img-size-5" style="background-image: url('//crds-cms-uploads.s3.amazonaws.com/connect/SITE.png');"></div>
  </div>
  <div class="media-body">
    <h3 class="media-heading">Crossroads {{siteName}}</h3>
    <readonly-address [isPinOwner]="true" [address]="address" [distance]="proximity"></readonly-address>
  </div>
</div>
