<div class="connect-container connect-layout-container">
  <div class="soft-top">
    <div class="soft-top">
      <p class="media-meta flush-bottom">STEP 5 OF 6</p>
      <h3 class="media-heading font-family-condensed-extra text-uppercase">Group Details</h3>
      <hr>
      <crds-content-block id="groupToolCreateGroupAboutHelp"></crds-content-block>
    </div>
  </div>

  <p><strong>Tell us what your group is all about.</strong></p>

  <form [formGroup]="groupDetailsForm" (ngSubmit)="onSubmit(groupDetailsForm)">
    <div>
      <label class="control-label soft-top soft-quarter-bottom" for="groupName">Group name</label>
      <input class="form-control" id="groupName" formControlName="groupName" [(ngModel)]="createGroupService.group.groupName" placeholder="Ex. Brewing Brothers" maxlength="35">
      <div *ngIf="isSubmitted && !groupDetailsForm.controls['groupName'].valid">
        <div class="alert alert-danger">This field is required.</div>
      </div>
    </div>

    <div>
      <label class="control-label soft-top soft-quarter-bottom" for="groupDescription">Group description</label>
      <textarea id="groupDescription" class="form-control" rows="6" maxLength="500" formControlName="groupDescription" [(ngModel)]="createGroupService.group.groupDescription" placeholder="Ex: This group is for men in their 30s who like to brew their own beer. We’ll meet regularly to come up with a new beer and brew it together, and share some beers while we build friendships. We’ll meet in Pleasant Ridge weekly in my home."></textarea>
      <div *ngIf="isSubmitted && !groupDetailsForm.controls['groupDescription'].valid">
        <div class="alert alert-danger">This field is required.</div>
      </div>
    </div>

    <div class="soft-top push-half-top">
      <crds-content-block id="groupToolCreateGroupVisibilityHelp"></crds-content-block>
    </div>

    <p class="control-label soft-top">Set your group to public or private</p>

    <div *ngIf="createGroupService.group.availableOnline === false" class="alert alert-warning">
      <crds-content-block id="groupToolPrivateGroupAlert" class="alert"></crds-content-block>
    </div>

    <div class="btn-group btn-group-block">
      <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: createGroupService.group.availableOnline }" formControlName="availableOnline" value="true" (click)="onClick(true)" ngDefaultControl style="white-space: normal">
        <div class="row">
          <div class="text-left btn-group-label">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Public (Your group will be viewable in search results for everyone to see)
          </div>
        </div>
      </button>
      <button type="button" class="btn btn-option btn-flex btn-outline" id="specific" [ngClass]="{active: createGroupService.group.availableOnline === false }" formControlName="availableOnline" value="false" (click)="onClick(false)" ngDefaultControl style="white-space: normal">
        <div class="row">
          <div class="btn-group-label text-left">
            <span class="btn-group-icons">
              <svg class="icon circle-thin" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256"></use>
              </svg>
              <svg class="icon check-circle" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256"></use>
              </svg>
            </span>
            Private (Your group will NOT be publically viewable in search results.)
          </div>
        </div>
      </button>
    </div>

    <div *ngIf="isSubmitted && groupVisabilityInvalid" class="soft-top">
      <div class="alert alert-danger">This field is required.</div>
    </div>

    <create-group-footer (backevent)="onBack($event)" [showbackbutton]="true"></create-group-footer>
  </form>
</div>
