<sebm-google-map [latitude] = "searchResults?.centerLocation.lat"
                 [longitude] = "searchResults?.centerLocation.lng"
                 [zoom] = "mapSettings.zoom"
                 [disableDefaultUI] = "mapSettings.disableDefaultUI"
                 [zoomControl] = "mapSettings.zoomControl">

    <sebm-google-map-marker [latitude] = "searchResults?.centerLocation.lat" [longitude] = "searchResults?.centerLocation.lng"></sebm-google-map-marker>
    <app-map-content></app-map-content>

</sebm-google-map>

<app-map-footer></app-map-footer>
