<agm-map id="connect"
                 [latitude]="mapSettings.lat"
                 [longitude]="mapSettings.lng"
                 [zoom]="mapSettings.zoom"
                 [disableDefaultUI]="mapSettings.disableDefaultUI"
                 [zoomControl]="mapSettings.zoomControl"
                 [streetViewControl]="false">
  <agm-marker-cluster [styles]="styles" [maxZoom]="maxZoom" [averageCenter]="averageCenter">
  <agm-marker *ngFor="let pin of pinsToMap; let i = index"
                          [latitude]="pin.address.latitude"
                          [longitude]="pin.address.longitude"
                          [iconUrl] = "pin.iconUrl"
                          (markerClick) = "pinClicked(pin)"
                          [title] = "pin.title">

    <agm-info-window [disableAutoPan]="true">
      <strong>Welcome to Crossroads!</strong><br>
      {{pin.address.addressLine1}}<br>
      {{pin.address.city}}, {{pin.address.state}} {{pin.address.zip}}
    </agm-info-window>
  </agm-marker>
  </agm-marker-cluster>

  <app-map-content></app-map-content>
</agm-map>
<search-local></search-local>
