<div>
    <p class='pull-right text-left text-block'>
        <a (click)='closeClick()'>
            <span class="glyphicon glyphicon-remove"> </span>
        </a>
    </p>
</div>
<div>
     <span [innerHTML]="content.getContent('addMeToMapHeader')"></span>
</div>

<address-form [userData]="userData" (save)="onSubmit($event)"></address-form>

<!--
<button type="button" class="btn btn-primary" (click)="staticModal.show()">Static modal</button>

    <crds-content-block id="finderAddMeToMapText" class="text-center"></crds-content-block>

        <address-form [userData]="userData" (save)="onSubmit($event)"></address-form>
      </div>
    </div>
  </div>
</div>-->