<div class="fauxdal-wrapper">
  <div class="fauxdal fauxdal-center">
    <div class="container-fluid">
      <div class="pull-right close">
        <a (click)="cancel()">
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#close"></use>
          </svg>
        </a>
      </div>

      <br>

      <div class="fauxdal-content">
        <crds-content-block id="finderRemovePersonFromMapText" class="text-center"></crds-content-block>
      </div>

      <br>

      <footer class="page-footer btn-group-vertical btn-block-mobile">
        <button type="submit" id='btnRemovePersonPin' class="btn btn-secondary btn-block-mobile" (click)="removePersonPin();">Remove me from the map</button>
        <button type="submit" id='btnCancel' class="btn btn-outline btn-default btn-block-mobile" (click)="cancel();">Cancel</button>
      </footer>
    </div>
  </div>
</div>
