
<div *ngIf = "areThereAnyParticipantsInGroup">

    <button class="btn btn-default" type="button"
            ngxClipboard
            (click) = "copyEmailAddressesClicked(commaSeperatedParticipantEmails)"
            [cbContent]="participantEmails"
            (cbOnSuccess)="isCopied1 = true">
        Copy Email Addresses
    </button>

    <button class="btn btn-default"
            type="button"
            (click) = "emailParticipantsClicked(commaSeperatedParticipantEmails)">
        Email Participants
    </button>

</div>