<div *ngIf="areThereAnyParticipantsInGroup" class="push-half-top">

    <!-- COPY PARTICIPANT EMAIL ADDRESSES TO CLIPBOARD -->
    <button class="btn btn-outline btn-primary" type="button"
            ngxClipboard
            (click) = "copyEmailAddressesClicked(commaSeparatedParticipantEmails)"
            [cbContent]="participantEmails">
        Copy Email Addresses
    </button>

    <!-- EMAIL PARTICIPANTS -->
    <button class="btn btn-outline btn-primary"
            type="button"
            (click) = "emailParticipantsClicked(commaSeparatedParticipantEmails)">
        Email Participants
    </button>

</div>