<div class="container-fluid connect-container">
  <div class="media">
    <profile-picture imageClass="media-object img-size-6"
                     wrapperClass="media-img-wrapper"
                     [contactId]="pin.contactId"></profile-picture>

    <div class="media-body">
      <pin-header [isGathering]="true" [isPinOwner]="isPinOwner"
                  [lastName]="pin.lastName" [firstName]="pin.firstName"
                  [contactId]="pin.contactId"></pin-header>
    </div>
  </div>

  <hr>

  <div>
    <form *ngIf="ready" novalidate [formGroup]="editGatheringForm"
          (ngSubmit)="onSubmit()">
      <h4>Meets at:</h4>
      <address-form [parentForm]="editGatheringForm"
                    [address]="pin.gathering.address"
                    [isFormSubmitted]="submissionError"
                    groupName="editGatheringForm"></address-form>
      <!-- Description -->
      <div class="row">
        <div class="form-group col-xs-12">
          <label class="sr-only" for="description">Description</label>
          <textarea tabindex="6" type="text" class="form-control"
                    maxlength="255" placeholder="Description" id="description"
                    formControlName="description" name="description"
                    [(ngModel)]='pin.gathering.groupDescription' rows="15"
                    cols="100"></textarea>
          <p class="error help-block"
             *ngIf="editGatheringForm.controls['description'].touched && !editGatheringForm.controls['description'].valid">
            Description is required!
          </p>
        </div>
      </div>
      <footer class="page-footer page-footer-vertical">
        <button type="submit"
                [disabled]="submitting || editGatheringForm.invalid"
                class="btn btn-secondary">Update my gathering</button>
        <button type="button" (click)="closeClick()"
                class="btn btn-link btn-default">Cancel</button>
      </footer>

      <div *ngIf="submissionError" class="alert alert-danger">
        <crds-content-block id="generalError"></crds-content-block>
      </div>
    </form>
  </div>
</div>
