<div [ngClass]="wrapperClass">
    <div class="embed-responsive embed-responsive-1by1 profile-background-image profile-image-default-background"  [ngClass]="imageClass">
        <!--<img src="{{path}}">-->
        <div class="embed-responsive-item">
            <div class="embed-responsive embed-responsive-1by1">
                
            <div class="embed-responsive-item profile-background-image" [ngClass]="imageClass" [ngStyle]="{'background-image': 'url(' + path + ')'}"></div>
            </div>
        </div>
    </div>
</div>