<div class="row">
  <!--LOGGED IN, NOT ON MAP OR NOT LOGGED IN-->
  <div *ngIf="userMapState === userMapStateEnum.LoggedIn_NotOnMap || userMapState === userMapStateEnum.NotLoggedIn"
        class="bg-gray col-xs-12 push-top soft">
    <crds-content-block id="promptToPutSelfOnMap"></crds-content-block>
    <button class="btn btn-default btn-block-mobile"(click)="addMeToTheMapClicked()">Add me to map</button>
  </div>

  <!-- NOT a host / not logged in  -->
  <div *ngIf="isUserHostingAnyGatheringsOrGroups"
        class="bg-gray col-xs-12 push-top soft">
    <crds-content-block id="finderWantToHost"></crds-content-block>
    <div class="btn-group full-width">
      <button class="btn btn-default btn-block-mobile" (click)="becomeAHostClicked()">Sign up</button>
      <button class="btn btn-default btn-block-mobile" (click)="whatsAHostBtnClicked()">What's a host?</button>
    </div>
  </div>

  <div class="col-xs-12 push-top">
    <p class="text-muted font-size-small">When interacting with others, please be smart. We know you've used the internet before. We're just saying we want you to feel safe and be safe!</p>
  </div>
</div>

