<div class="podbar">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <!--LOGGED IN, NOT ON MAP OR NOT LOGGED IN-->
                <div *ngIf = "userMapState === userMapStateEnum.LoggedIn_NotOnMap || userMapState === userMapStateEnum.NotLoggedIn">
                    <crds-content-block id="promptToPutSelfOnMap"></crds-content-block>
                    <div>
                        <input type="button" class="btn btn-primary"
                               value="Add me to the map"
                               (click) = "addMeToTheMapClicked()">
                    </div>
                </div>

                <!--LOGGED IN, ON MAP AS PARTICIPANT-->
                <div *ngIf = "userMapState === userMapStateEnum.LoggedIn_OnMap">
                    <crds-content-block id="promptToHostGathering"></crds-content-block>
                    <div>
                        <input type="button" class="btn btn-primary" value="Sign Up" (click) = "becomeAHostClicked()">
                        <input type="button" class="btn btn-primary" value="What's a Host" (click) = "whatsAHostBtnClicked()">
                    </div>
                </div>

                <div>
            </div>
        </div>
    </div>
</div>
