.pin-label {
  $map-label-font-size: 13px;
  $map-label-font-family: $condensed-font-face;
  $map-label-default-color: $cr-cyan;
  $map-label-me-color: $cr-gold;
  $map-label-group-color: $cr-cyan;  
  $map-label-host-color: $cr-cyan;
  $map-label-person-color: $cr-blue;
  $map-label-site-color: $cr-orange;

  color: $map-label-default-color;
  font-size: $map-label-font-size;

  &.person {
    color: $map-label-person-color;
  }

  &.small_group {
    color: $map-label-group-color;
  }  

  &.person,
  &.gathering {
    &.me {
      color: $map-label-me-color;

      &::after {
        content: "ME";
        font-size: 8px;
      }
    }

    &.host {
      color: $map-label-host-color;

      &::after {
        content: "HOST";
        font-size: 8px;
      }
    }
  }

  &.site {
    color: $map-label-site-color;
  }
}